h1 {
  color: blue;
  line-height: 1.2;
  font-size: 64px;
}

ul {
  list-style: none;
  font-size: 18px;
  padding-left: 0;
}

.primary-information {
  color: purple;
}

.box {
  border: solid black 1px;
  margin-top: 20px;
  max-width: 550px;
  padding: 10px 40px;
}
